*{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body, html{
	height: 100%;
	overflow: hidden;
}

body{
	background: url(../img/90279.jpg);
	background-size: 100%;
}

.title-game{
    position: absolute;
    color: #9a9898;
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: monospace;
    width: 100%;
    text-align: center;
    top: 50px;
}